#articles {
  width: 100vw;
  height: auto;
  padding: 180px 270px 150px 268px;
  @include Responsive(laptop) {
    padding: 150px 110px 150px 110px;
  }
  background-color: $secondary-color;
  &-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 150px;
    a {
      color: $primary-color;
      font-family: "Prata", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 30px;
    }
  }
  &-blogs {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    &-left,
    &-right {
      display: flex;
      flex-direction: column;
      &-image {
      }
      &-content {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        img {
          margin: 35px 0 20px;
        }
        div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          a {
            color: $primary-color;
            font-family: "Prata", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0.02em;
          }
          p {
            margin-right: 80px;
            font-family: "DM Sans", serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 30px;
            color: $primary-color;
            opacity: 0.5;
          }
        }
      }
    }
  }
}
