$secondary-color: #f8f3ed;
$primary-color: #222120;

$mobile-small-width: 360px;
$mobile-big-width: 428px;
$tablet-width: 834px;
$laptop-small-width: 1280px;
$laptop-width: 1728px;
$pc-monitor: 1920px;
